@tailwind base;
@tailwind components;
@tailwind utilities;


section{
    height: 1000px;
    border: 1px solid red;
    margin: 10px;
}


.full1{
    border: 2px solid red;
}.full2{
    border: 2px solid red;
}.full3{
    border: 2px solid red;
}.full4{
    border: 2px solid red;
}